@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{ 
  background-color: #18e667;
  color: red;
  margin:  auto;
  max-width: 500px;

}